@model CreateBookingDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Rezervasyon Ekle</div>
        </div>
        <form method="post" asp-action="Create" asp-controller="Booking">
            <div class="card-body">

                <div class="form-group">
                    <label for="squareInput">Adı Soyadı</label>
                    @Html.TextBoxFor(m => m.BookingName, new { @class = "form-control input-square", @placeholder = "Adı Soyadı", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Telefon No</label>
                    @Html.TextBoxFor(m => m.BookingPhone, new { @class = "form-control input-square", @placeholder = "Telefon No", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Mail</label>
                    @Html.TextBoxFor(m => m.BookingMail, new { @class = "form-control input-square", @placeholder = "Mail", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Kişi Sayısı</label>
                    <select class="form-control input-square" asp-for="BookingPhone">
                        <option value="" disabled selected> Kişi Sayısı </option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="squareInput">Tarih</label>
                    @Html.TextBoxFor(m => m.BookingDate, new { @type = "datetime-local", @class = "form-control input-square", @placeholder = "Tarih ve Saat", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareSelect">Durum</label>
                    <select class="form-control input-square" asp-for="BookingStatus">
                        <option value="true">Onaylandı</option>
                        <option value="false">Beklemede</option>

                    </select>
                </div>
            </div>
            <div class="card-action">
                <button href="@Url.Action("Create", "Booking")" class="btn btn-success">Ekle</button>
                <a href="@Url.Action("Index", "Booking")" class="btn btn-danger">İptal</a>
            </div>
        </form>
    </div>

</div>

