@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Rezervasyon Listesi</div>
		</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Adı Soyadı</th>
						<th scope="col">Telefon No</th>
						<th scope="col">Mail</th>
						<th scope="col">Kişi Sayısı</th>
						<th scope="col">Tarih</th>
						<th scope="col">Durum</th>
						<th scope="col">Düzenle</th>
						<th scope="col">Sil</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.BookingID</td>
							<td>@item.BookingName</td>
							<td>@item.BookingPhone</td>
							<td>@item.BookingMail</td>
							<td>@item.BookingPersonCount</td>
							<td>@item.BookingDate.ToString("dd.MM.yyyy HH:mm")</td>
							<td>
								@if (item.BookingStatus.Equals(true))
								{
									<p class="text-success">Onaylandı</p>
								}
								else
								{
									<p class="text-warning">Beklemede</p>
								}
							</td>
							<td>
								<a href="@Url.Action("Update", "Booking", new { id = item.BookingID})" class="btn btn-warning btn-sm">Düzenle</a>
							</td>
							<td>
								<a href="@Url.Action("Delete", "Booking", new { id = item.BookingID})" class="btn btn-danger btn-sm">Sil</a>
							</td>
						</tr>
					}

				</tbody>
			</table>
			<a href="@Url.Action("Create", "Booking")" class="btn btn-primary btn-sm">Ekle</a>
		</div>
	</div>
</div>