@model GetContactDto

<div class="container">
    <div class="row">
        <div class="col-md-4 footer-col">
            <div class="footer_contact">
                <h4>
                    İletişim
                </h4>
                <div class="contact_link_box">
                    <a href=" @Model.ContactLocation">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                            @Model.ContactLocation
                        </span>
                    </a>
                    <a href=" @Model.ContactPhone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            @Model.ContactPhone
                        </span>
                    </a>
                    <a href=" @Model.ContactMail">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                            @Model.ContactMail
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 footer-col">
            <div class="footer_detail">
                <a href="" class="footer-logo">
                    Burger Dünyası
                </a>
                <p>
                   @Model.ContactFooterDescription
                </p>
               
                <div class="footer_social">
                    @await Component.InvokeAsync("_MainLayoutFooterSocialMediaPartialComponent")
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 footer-col">
            <h4>
               Açık Olduğumuz Saatler
            </h4>
            <p>
               Her gün
            </p>
            <p>
                10.00  - 22.00
            </p>
        </div>
    </div>
    <div class="footer-info">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Onur Acarsoy</a><br><br>
        </p>
    </div>
</div>
