@model UserEditPasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Şifre Ayarları</div>
        </div>
        <form method="post" asp-action="ChangePassword" asp-controller="UserSetting">
            <div class="card-body">
                <div class="form-group">
                    <label for="squareInput">Şifre</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-square", @Type = "password", @placeholder = "Şifre", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Tekrar Şifre</label>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-square", @Type = "password", @placeholder = "Tekrar Şifre", required = "" })
                </div>
                <div style="color:red;">  @ViewBag.isOldPasswordCorrect </div>
            </div>
            <div class="card-action">
                <button href="@Url.Action("ChangePassword", "UserSetting")" class="btn btn-warning">Güncelle</button>
                <a href="@Url.Action("Index", "CaseOperation")" class="btn btn-danger">İptal</a>
            </div>
        </form>
    </div>

</div>



