@model UpdateDiscountDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Kampanya Düzenle</div>
        </div>
        <form method="post" asp-action="Update" asp-controller="Discount">
            <div class="card-body">
                @Html.HiddenFor(m => m.DiscountID)
                <div class="form-group">
                    <label for="squareInput">Başlık</label>
                    @Html.TextBoxFor(m => m.DiscountTitle, new { @class = "form-control input-square", @placeholder = "Başlık", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Miktar</label>
                    @Html.TextBoxFor(m => m.DiscountAmount, new { @class = "form-control input-square", @placeholder = "Miktar ", required = "" })
                </div>
                <div class="form-group">
                    <label for="squareInput">Resim</label>
                    @Html.TextBoxFor(m => m.DiscountImageUrl, new { @class = "form-control input-square", @placeholder = "Resim", required = "" })
                </div>

            </div>
            <div class="card-action">
                <button href="@Url.Action("Update", "Discount")" class="btn btn-warning">Düzenle</button>
                <a href="@Url.Action("Index", "Discount")" class="btn btn-danger">İptal</a>
            </div>
        </form>
    </div>

</div>



