<div class="scrollbar-inner sidebar-wrapper">
    <div class="user">

        <div class="info">
            <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                <span>
                    Yönetici Paneli
                    <span class="user-level">Administrator</span>
                    <span class="caret"></span>
                </span>
            </a>
            <div class="clearfix"></div>

            <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                <ul class="nav">
                    <li>
                        <a href="@Url.Action("Index","Register")">
                            <span class="link-collapse">Yeni Kullanıcı</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserUpdate","UserSetting")">
                            <span class="link-collapse">Kullanıcı Ayarları</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword","UserSetting")">
                            <span class="link-collapse">Şifre Değiştir</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut","Login")">
                            <span class="link-collapse text-danger">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav">



        <li class="nav-item">
            <a href="@Url.Action("Index","CaseOperation")">
                <i class="text-danger la la-fax"></i>
                <p class="text-danger">Kasa İşlemleri</p>

            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("TableListByStatus","MenuTable")">
                <i class="text-danger la la-inbox"></i>
                <p class="text-danger">Masa Durumları</p>

            </a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("Index","MenuTable")">
                <i class="text-danger la la-inbox"></i>
                <p class="text-danger">Masa İşlemleri</p>

            </a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("Index","QROperation")">
                <i class="text-danger la la-qrcode"></i>
                <p class="text-danger">QR İşlemleri</p>

            </a>
        </li>


        <li class="nav-item">
            <a href="@Url.Action("Index","Dashboard")">
                <i class="la la-dashboard"></i>
                <p>Menü İstatistikleri</p>

            </a>
        </li>


        <li class="nav-item">
            <a href="@Url.Action("Index","Category")">
                <i class="la la-bars"></i>
                <p>Kategori İşlemleri</p>

            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Product")">
                <i class="la la-trophy"></i>
                <p>Ürün İşlemleri</p>

            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","About")">
                <i class="la la-group"></i>
                <p>Hakkımızda İşlemleri</p>

            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Booking")">
                <i class="la la-key"></i>
                <p>Rezervasyon İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Contact")">
                <i class="la la-phone"></i>
                <p>İletişim İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","SocialMedia")">
                <i class="la la-wifi"></i>
                <p>Sosyal Medya İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Discount")">
                <i class="la la-ticket"></i>
                <p>Kampanya İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Feature")">
                <i class="la la-bullseye"></i>
                <p>Öne Çıkan İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Testimonial")">
                <i class="la la-comments"></i>
                <p>Referans İşlemleri</p>
            </a>
        </li>
        <li class="nav-item ">
            <a>
                <i class="la la-bullseye"></i>
                <p>  </p>
            </a>
        </li>







    </ul>
</div>