@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Sosyal Medya Listesi</div>
		</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Sosyal Medya Adı</th>
						<th scope="col">İkonu</th>
						<th scope="col">Düzenle</th>
						<th scope="col">Sil</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.SocialMediaID</td>
							<td>@item.SocialMediaTitle</td>
							<td><li class="@item.SocialMediaIcon"></li></td>
							<td>
								<a href="@Url.Action("Update", "SocialMedia", new { id = item.SocialMediaID})" class="btn btn-warning btn-sm">Düzenle</a>
							</td>
							<td>
								<a href="@Url.Action("Delete", "SocialMedia", new { id = item.SocialMediaID})" class="btn btn-danger btn-sm">Sil</a>
							</td>
						</tr>
					}

				</tbody>
			</table>
			<a href="@Url.Action("Create", "SocialMedia")" class="btn btn-primary btn-sm">Ekle</a>
		</div>
	</div>
</div>

