@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-20">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Kategori Listesi</div>
		</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Kategori Adı</th>
						<th scope="col">Durum</th>
						<th scope="col">Düzenle</th>
						<th scope="col">Sil</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CategoryID</td>
                            <td>@item.CategoryName</td>
                            <td>
								@if(item.CategoryStatus.Equals(true))
								{
									<p class="text-success">Aktif</p>
								}
								else
								{
                                    <p class="text-danger">Pasif</p>
                                }
							</td>
                            <td>
								<a href="@Url.Action("Update", "Category", new { id = item.CategoryID})" class="btn btn-warning btn-sm">Düzenle</a>
                            </td>
							<td>
								<a href="@Url.Action("Delete", "Category", new { id = item.CategoryID})" class="btn btn-danger btn-sm">Sil</a>
                            </td>
                        </tr>
                    }
					
				</tbody>
			</table>
			<a href="@Url.Action("Create", "Category")" class="btn btn-primary btn-sm">Ekle</a>
		</div>
	</div>
</div>

